<h1>Edit Chatroom</h1>

<%= form_with model: @chatroom do |form| %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>
  <%= form.hidden_field :owner, value: current_user ? current_user.username : "No user" %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
