<h1><%= @chatroom.title %></h1>

<p><%= @chatroom.body %></p>


  <li><%= link_to "Destroy", chatroom_path(@chatroom), class: "delete-link", data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %></li>


<%= turbo_stream_from "chatroom_#{@chatroom.id}" %> <!-- Turbo Stream to listen for message updates -->

<div id="messages" class="message-container">
  <%= render @chatroom.messages %>  <!-- Render the messages for the chatroom -->
</div>

<%= form_with model: [@chatroom, @chatroom.messages.build], local: false do |form| %>
  <%= form.hidden_field :messenger, value: current_user ? current_user.username : "Not logged in" %>
  <%= form.text_field  :body, placeholder: "Type a message..." %>
  <%= form.submit "Send" %>
<% end %>
