<h1><%= @chatroom.title %></h1>

<p> Owned by: <%= @chatroom.owner %></p>

<p><%= @chatroom.body %></p>

<!--these will go in a modal with css-->
<% if @chatroom.owner == current_user.username%>
  <li><%= link_to "Edit", edit_chatroom_path(@chatroom), class: "button-link" %></li>

  <li><%= link_to "Destroy", chatroom_path(@chatroom), class: "delete-link", data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %></li>
<%end%>

<h2>Messages</h2>   
<% @chatroom.messages.each do |message| %>
  <p>
    <%= message.messenger %>:
    <%= message.body %>
  </p>

  <p>
  </p>
<% end %>

<%if current_user%>

  <%= form_with model: [ @chatroom, @chatroom.messages.build ] do |form| %>

    <%= form.hidden_field :messenger, value: current_user ? current_user.username : "No user" %>

    <p>
      <%= form.label :Chat %><br>
      <%= form.text_field :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<%end%>