<h1><%= @chatroom.title %></h1>

<p><%= @chatroom.body %></p>

<h2>Messages</h2>   
<% @chatroom.messages.each do |message| %>
  <p>
    <%= message.messenger %>: <%= message.body %>
  </p>

  <p>
  </p>
<% end %>

<%= form_with model: [ @chatroom, @chatroom.messages.build ] do |form| %>

  <%= form.hidden_field :messenger, value: current_user ? current_user.username : "Not logged in" %>

  <p>
    <%= form.label :Chat %><br>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>