<h1>User page</h1>


<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New", new_user_path, class: "button-link" %> 
